# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
staticfiles

# Django Secret Key
.env

# Environments
venv/
.env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Docker
docker-compose.override.yml
docker-compose.local.yml

# PyCharm
*.iml
*.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
migrations/
